.container {
  background-color: transparent;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.skills {
  text-align: right;
  padding-inline: 20px;
  padding-block: 8px;
  background: var(--jordy-blue);
  border-radius: 20px;
  border-color: var(--french-pass);
  border: 1px solid;
  margin-right: 20px;
  color: white;
  margin-bottom: 20px;
  
}


.programmingLanguage {
  background-color: transparent;
  width: 50px;
  height: 50px;
}
